<!-- Wide card with share menu button -->

<div class="demo-card-wide mdl-card mdl-shadow--2dp" *ngIf="postEdit">
  <!--<h5>{{post.title}}</h5>-->
  <!--<h5>{{post.description}}</h5>-->

  <!-- Simple Textfield -->
  <form action="#">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="sample1" [(ngModel)]="postEdit.title" name="titleName">
      <label class="mdl-textfield__label" for="sample1"></label>
    </div>
  </form>

  <!-- Floating Multiline Textfield -->
  <form action="#">
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" [(ngModel)]="postEdit.description" name="decsription"></textarea>
      <label class="mdl-textfield__label" for="sample5" ></label>
    </div>
  </form>
  <!-- Colored mini FAB button -->
  <button (click)="edit(postEdit._id)" routerLink="/posts" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored buttonEditDelitView">
    <i class="material-icons">done</i>
  </button>

</div>
