<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header postsHeder">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer addPost">add post</div>
      <!-- Colored FAB button with ripple -->
      <button routerLink="/new" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
      </button>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>



