
.demo-card-wide.mdl-card {
  width: 512px;
  margin: 50px auto;
  overflow: unset;
}
.demo-card-wide  {
  background: #f3f3f3;
  padding: 20px;
}

.buttonEditDelitView {
  position: absolute;
  right: -70px;
}

